In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [32]:
bitcoin = pd.read_csv(r'../data/Bitcoin Historical Data.csv')
binance = pd.read_csv(r'../data/BNB Historical Data.csv')
cardano = pd.read_csv(r'../data/Cardano Historical Data.csv')
ethereum = pd.read_csv(r'../data/Ethereum Historical Data.csv')
solana = pd.read_csv(r'../data/Solana Historical Data.csv')
xrp = pd.read_csv(r'../data/XRP Historical Data.csv')

In [34]:
dfs = [bitcoin, binance, cardano, ethereum, solana, xrp]

dates = [set(pd.to_datetime(df['Date'])) for df in dfs]

common = set.intersection(*dates)

if common:
    earliest = min(common)
    print(f'Earliest Date: {earliest}')
else:
    print("No common dates.")

Earliest Date: 2020-07-13 00:00:00

In [35]:
new_dfs = [
    df[pd.to_datetime(df['Date']) >= earliest].reset_index(drop=True) for df in dfs
]

In [36]:
assets = ['Bitcoin', 'Binance', 'Cardano', 'Ethereum', 'Solana', 'XRP']
prices = []

for i in range(len(assets)):
    prices.append((new_dfs[i]).set_index('Date')['Price'].rename(assets[i]))

prices

[Date
 12/11/2024    101,329.1
 12/10/2024     96,600.3
 12/09/2024     97,359.4
 12/08/2024    101,115.8
 12/07/2024     99,837.0
                 ...
 07/17/2020      9,155.8
 07/16/2020      9,135.3
 07/15/2020      9,198.7
 07/14/2020      9,253.4
 07/13/2020      9,243.6
 Name: Bitcoin, Length: 1613, dtype: object,
 Date
 12/11/2024    711.12
 12/10/2024    676.92
 12/09/2024    690.02
 12/08/2024    741.84
 12/07/2024    749.46
                ...
 07/17/2020     17.07
 07/16/2020     17.15
 07/15/2020     17.63
 07/14/2020     18.09
 07/13/2020     18.42
 Name: Binance, Length: 1613, dtype: float64,
 Date
 12/11/2024    1.0884
 12/10/2024    1.0216
 12/09/2024    1.0068
 12/08/2024    1.1933
 12/07/2024    1.2105
                ...
 07/17/2020    0.1222
 07/16/2020    0.1260
 07/15/2020    0.1306
 07/14/2020    0.1324
 07/13/2020    0.1244
 Name: Cardano, Length: 1613, dtype: float64,
 Date
 12/11/2024    3,825.29
 12/10/2024    3,628.94
 12/09/2024    3,718.98
 12/08/2024    4,002.91
 12/07/2024    3,996.24
                 ...
 07/17/2020      232.75
 07/16/2020      233.65
 07/15/2020      238.62
 07/14/2020      240.50
 07/13/2020      239.73
 Name: Ethereum, Length: 1613, dtype: object,
 Date
 12/11/2024    228.356
 12/10/2024    213.680
 12/09/2024    217.012
 12/08/2024    237.097
 12/07/2024    238.379
                ...
 07/22/2020      1.046
 07/21/2020      1.004
 07/15/2020      1.383
 07/14/2020      1.115
 07/13/2020      1.279
 Name: Solana, Length: 1606, dtype: float64,
 Date
 12/11/2024    2.4346
 12/10/2024    2.3715
 12/09/2024    2.2191
 12/08/2024    2.6037
 12/07/2024    2.4936
                ...
 07/17/2020    0.1945
 07/16/2020    0.1944
 07/15/2020    0.1972
 07/14/2020    0.1991
 07/13/2020    0.1987
 Name: XRP, Length: 1612, dtype: float64]

In [37]:
combine_prices = pd.concat(prices, axis=1)
combine_prices

              Bitcoin  Binance  Cardano  Ethereum   Solana     XRP
Date
12/11/2024  101,329.1   711.12   1.0884  3,825.29  228.356  2.4346
12/10/2024   96,600.3   676.92   1.0216  3,628.94  213.680  2.3715
12/09/2024   97,359.4   690.02   1.0068  3,718.98  217.012  2.2191
12/08/2024  101,115.8   741.84   1.1933  4,002.91  237.097  2.6037
12/07/2024   99,837.0   749.46   1.2105  3,996.24  238.379  2.4936
...               ...      ...      ...       ...      ...     ...
07/17/2020    9,155.8    17.07   0.1222    232.75      NaN  0.1945
07/16/2020    9,135.3    17.15   0.1260    233.65      NaN  0.1944
07/15/2020    9,198.7    17.63   0.1306    238.62    1.383  0.1972
07/14/2020    9,253.4    18.09   0.1324    240.50    1.115  0.1991
07/13/2020    9,243.6    18.42   0.1244    239.73    1.279  0.1987

[1613 rows x 6 columns]

In [39]:
combine_prices.isnull().sum()

Bitcoin     0
Binance     0
Cardano     0
Ethereum    0
Solana      7
XRP         1
dtype: int64

In [40]:
cleaned_prices = combine_prices.dropna()
cleaned_prices.isnull().sum()

Bitcoin     0
Binance     0
Cardano     0
Ethereum    0
Solana      0
XRP         0
dtype: int64

In [ ]:
cleaned_prices.to_csv('Historical Crypto Prices')